body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: none;
}

.main-nav {
    font-size: 30px;
    color: black;
    list-style-type: none;
    margin: auto;
    display: flex;
}



/*Media Queries*/

@media (max-width: 500px) {
    .main-nav {
        display: flex;
        flex-direction: column;
    }

    .main-li {
       font-size: 30px;
       flex-wrap: wrap;
    }
}