body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: none;
}

.main-nav {
    font-family: 'Unica One', cursive;
    font-size: 30px;
    color: black;
    list-style-type: none;
    margin: auto;
}

.logo {
    width: 215px;
    height: 200px;
    float: left;
}

.main-li {
    margin: 20px;
    float: right;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.menu-items {
    list-style-type: none;
}

/*Media Queries*/

@media (max-width: 700px) {
    .main-nav {
        display: flex;
        flex-direction: column;
    }

    .logo {
        width: 215px;
        height: 200px;
        align-self: center;
    }

    .main-li {
       font-size: 30px;
       text-align: center;
    }
}