body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: none;
}

.background {
    color: black;
}

.main-nav {
    font-size: 30px;
    list-style-type: none;
    margin: auto;
    display: flex;
}

.main-li {
    text-align: center;
    
    margin: 20px;
}

.starters-items {
    list-style-type: none;
    font-size: ;
}

.entrees-items {
    list-style-type: none;
}

.sides-items {
    list-style-type: none;
}

.ingredients {
    font-size: 12px;
}

/*Media Queries*/

@media (max-width: 500px) {
    .main-nav {
        display: flex;
        flex-direction: column;
    }

    .main-li {
       font-size: 30px;
       flex-wrap: wrap;
    }
}